// Place all the styles related to the Api::categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '../variable.scss';

//from product index
// .circle-container{

// }

//from circle category
.circle-cat{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 36px;


    .circle-products{
        max-width: 150px;
        max-height: 150px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius:  50%;

        display: flex;
        justify-content: space-between;
    
    }

    #text{
    text-decoration: none;
    display: list-item;
    text-align: center;
    padding: 5px;
    font-family: $product-price;
}

}



