// Place all the styles related to the Api::ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './variable.scss';
.rating-form-container {
    
    form {
    display: flex;
    flex-direction: column;
    width: initial;
    }
    button {
        color: white;
        background-color: black;
        padding: 8px;
        width: fit-content;
    }


}

.rating-content{
    border: rgb(17, 15, 15) 5px solid;
    border-radius: 10px;
}