@import './variable.scss';

.nav-buttons{
    position: static;
    justify-content: space-between;
}


.bottom-nav-container{
    display: inline;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 36px !important;
    padding-right: 36px !important;

}
.nav-categroy {
    background-color: white;
    color: navTextColor;
    font-family: $open-sans;
    text-align: center;
    // padding: 5px 5px;
    text-decoration: none;
    border: none;
    justify-content: space-between;
    &:hover{
        background-color: $hoverColor;
        color: hoverFont;
    }
}



