@import '../../variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Leckerli+One&family=Noto+Sans&family=Raleway:wght@100&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&display=swap');
/* font-family: 'Fredoka', sans-serif;
font-family: 'Leckerli One', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive; */

.category-show-container{
    margin: 6%;
}

.category-show-right{
    display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
}

.all-product{

    font-family: 'Fredoka', sans-serif;
  
        @include grid(5, 2%);

}

.cat-show-title{
    h1 {
        font-size: x-large;
        // font-family: $Flamenco;
        font-family: $Exo2 ;
    }
}

.catproduct-thumbnail{
    height: 75%;
    display: flex;
    align-items: stretch;
        border: #f2ecea 1px solid;
    img{
        max-height: 100%;
        width: 100%;
        
    }
}

.product-details{
      border: #f2ecea 1px solid;
      border-top: none;
    margin-top: 2%;
    height: 25%;
    ul > li {
        margin-top: 2%;
        text-overflow: ellipsis;
        // display: inline;
        overflow: hidden;
white-space: nowrap;
    }
        a{
        text-decoration: none;
        color: black;
    }
    #title{
        font-family: $product-description;
        font-weight: Light;
    }
    #price{
        font-family: $product-price;
    }

}


#free-shipping{
    background-color: #9cba7e;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    display: inline-block;
    font-size: 60%;
    
}