@import '../../variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Leckerli+One&family=Noto+Sans&family=Raleway:wght@100&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&display=swap');
/* font-family: 'Fredoka', sans-serif;
font-family: 'Leckerli One', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive; */

// .category-show-container{
//     display: flex;
//     padding: 36px;
//     justify-content: center;
// }

// .category-show-left{
//     width: 33%;
//     display: block;
//     border: 2px black;
//     padding: 36px;
// }
// .product-box{
//         border: 1px solid;
// }

// .category-show-right{
//     display: flex !important;
//     flex-wrap: wrap;
//     flex-direction: column;
//         border: 1px red solid;
//     h1{
//         font-size: 40px;
//         font-family: $Exo2;
//         font-weight: lighter;
//         color: #222222;
//     }
//     a {
//         text-decoration: none;
//     }
// }
// .all-product{
//     justify-content: space-between;
//     border: 1px solid blue;
    
// }

// .catproduct-thumbnail{
//     display: block;
//     display: flex;
//     justify-content: space-between;
//         box-sizing: border-box;
//         display: list-item; //text under img
//         list-style-type: none;
//         padding: 6px !important;
//         max-width: 33%;
//         text-decoration: none;
//         border: 1px solid green;
    
//     .catproduct-thumbnail-img{
//         width: 100%;
//         height: 100%;
//     }

//     .product-details > span{
//         width: inherit;
//         text-decoration: none;
//         color: black
//     }
// }


// .product-details {
//     border: 1px pink solid;
// }
////////4/1/2022
// .category-show-right{
//     // border: 1px black solid;
// }

// .category-show-right{
// //     background-color: white;
// //   margin: 10px;
// //   padding: 10px;
// //   width: 400px;
// width: 33%;
// //   box-shadow: 0 8px 20px -2px rgb(68, 77, 80);
// }


// .category-show-right{
//     padding: auto;
//         display: flex;
//     align-items: baseline;
// }

.all-product a {
    border: red 1px solid;
    text-decoration: none;

}
// .all-product{
//     padding: auto;
//     font-family: 'Fredoka', sans-serif;
//   /* font-family: 'Leckerli One', cursive; */
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-content: stretch;
//     /* justify-content: space-evenly; */
//     align-items: center;
// }
.category-show-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catproduct-thumbnail{
    border: blue 1px solid;

}
.catproduct-thumbnail img{
        width: 100%;
    height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-details{
    list-style-type: none;
    border: springgreen 1px solid;
    // width: 200px;
    // height: 200px;
    // height: 20%;
    li {
        width: 100%;
        color: black
    }
}

//try grid
.catproduct-thumbnail{
    height: 80%
}
.all-product {

    @include grid(5, 2%);
    img {
        width: 100%;
        height:inherit;
    }
}



