
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Smooch+Sans&display=swap');

//Font Variables
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

.session-button{
    border: 2px solid rgb(160, 158, 155); 
    background-color: transparent;
    font-size: 16px;
    font-family: $roboto-slab;
    color:rgb(160, 158, 155);
    border: none;
    
}

.session-button:hover::before{
    width: 100%;
    
}
.session-button:hover{
    color: black;
    background-color: whitesmoke;
}

.session-button::before{
    background-color: rgb(160, 158, 155);
    color: white;
    
}

