
@import '../variable.scss';
//Font Variables

.session-form{
    width: 200px;
    height: 200px;

}


.session-button{
    border: 2px solid black; 
    background-color: transparent;
    font-size: 16px;
    font-family: $product-price;
    color:rgb(160, 158, 155);
    border: none;
    
}

.session-button:hover::before{
    width: 100%;
    
}
.session-button:hover{
    color: black;
    background-color: whitesmoke;
    font-family: $product-price;
}

.session-button::before{
    background-color: rgb(160, 158, 155);
    color: white;
    
}

.login-form-container{
    display: center;
    width: 200px;
    height: 200px;
    background-color: white;


    h3{
        font-size: 20px;
        font-family:$product-price ;
    }

    p{
        font-size: 15px;
        font-family:$product-price ;
    }
    label{
        font-size: 15px;
        font-family:$product-price ;
    
    }
    


}