// .welcome {
//     a {
//         color: $color;
//         transition: ease-in 0.2s;
//         padding-bottom: 1px;
//         text-decoration: 2px solid underline;
//         &:hover {
//             color: rgb(142, 135, 124);
//         }
//     }
// }

#logo {
    color: #f26521;
}

.greeting{
    color:black;
    font-weight: lighter;
    font-display: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #feead2;
    padding: 50px;
    text-align: center;

}