
#logo {
    color: #f26521;
    font-size: 75px;
}

.greeting{
    color:black;
    font-weight: lighter;
    font-display: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #feead2;
    padding: 50px;
    text-align: center;

}