@import './variable.scss';



.footer-line{
    border: none;
}
.footer-light-blue{
    background-color: $lightBlue;
    height: 100px;
}

.footer-blue{
    background-color: $blue;
    height: 100px;
}

.footer-deep-blue{
    position: relative;
    justify-content: last baseline;
    justify-content: space-around;
    background-color: $deepBlue;
    display: flex;
    height: 100px;

    .footer-left > p{
        position: relative;
        color: white;
        justify-content: space-evenly;
        font-family: $open-sans;
    }

    .footer-right > ul {
        display: flex;
        color: $footerColor;
        text-decoration: none;
        justify-content: space-between;
        font-family: $open-sans;
        content: $roboto-slab;
    }
}

