@import '../../variable.scss';
// @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Roboto+Slab:wght@100&display=swap');
.product-show-container{
    margin: 20px;
    height: 100%;
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;


    .product-show-image-div{
        display: flex;
        justify-content: space-around;

        .product-show-image{
        size: 100%;
        border-radius: 50px;
        width: 50%;
        }

        .product-show-details{
        line-height: 30px;
        width: 50%;
            .review{
                font-family: $product-review;
            }
            .product-title{

                font-size: 30px;
                font-family:$product-title;
                background-color: lightgray;
            }
            .description{
                font-family:$product-description;
                font-size: 15px;
                background-color: lightpink;
            }
            .price{
                font-weight: 50px;
                font-size: 30px;
                font-family: $product-price;
            }
        }
    }

}

