@import '../../variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto+Slab:wght@100&display=swap');
$Cart-header: 'Roboto Slab', serif;
$item-title: 'Lato', sans-serif;

.cart-item-wrapper{
    // border: black 1px solid;
    margin-left: 2%;
    margin-right: 2%;
    display: -webkit-inline-box;
    
}

.cart-item-box{
    //  border: red 1px solid;
     width: 50%;

}

.cart-item-thumbnail{
    // border: rosybrown 1px solid;
    display: flex;
    width: 100%;
    margin-top: 2%;
    img {
        width: 20%;
        border-radius: 10px;
    }
}

