@import '../../variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto+Slab:wght@100&display=swap');
$Cart-header: 'Roboto Slab', serif;
$item-title: 'Lato', sans-serif;

.cart-item-wrapper{
    border: black 1px solid;
    margin-left: 2%;
    margin-right: 2%;
    .cart-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    h1 {
        font-family: $Cart-header ;
        font-weight: thin;
        font-size: 200%;
        margin-top: 3%;
    }
    p , a {
        text-decoration: none;
        color: black;
        font-family: $product-description;

    }
}

.cart-item-box{
     border: red 1px solid;
     width: 66%;
     margin-top: 3%;

}

.cart-item-thumbnail{
    border: rosybrown 1px solid;
    display: flex;
    width: 100%;
    margin-top: 2%;
    img {
        width: 20%;
        border-radius: 10px;
    }
}

.cart-item-thumbnail > ul > li {
    border: green 1px solid;
}

.cart-item-details{
    margin-left: 2%;
}
#cart-quantity{
    display: inline-block;
    padding: 10px;
    border: black 1px solid;
    border-radius: 5px;
    font-family: $open-sans;
    font-weight: lighter;
}

#cart-title, #return{
    font-family: $open-sans;
    font-weight: lighter;
}

#cart-amount{
    font-family: $product-description;
}

#delivery{
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    color: gray;
}

.remove-item{
    color: black;
    font-family: $product-description;
    border: none;
    background-color: white;
    cursor: pointer;
}
