@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Smooch+Sans&display=swap');
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Playfair+Display&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
$product-review: 'Karla', sans-serif;
$product-title: 'Roboto Slab', serif;
$product-description: 'Roboto', sans-serif;
$product-price: 'Karla', sans-serif;
$logo :'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Flamenco:wght@300&display=swap');
$Exo2 : 'Exo 2', sans-serif;
$Flamenco : 'Flamenco', cursive;


//color

$logo: orange;
$greetingBanner: #feead2;

//color // nav
$navTextColor:rgb(79, 76, 76);
$widthborder: #222222;

$hoverColor: burlywood;
$hoverFont: white;
$modalColor : white;


// color // footer
$lightBlue:lightskyblue;
$blue: rgb(31, 54, 97);
$deepBlue:rgb(12, 12, 70);
$footerColor: white;

//grid

@mixin margin() {
    
}

@mixin grid($cols, $mgn) {
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - (($cols - 1) * $mgn)) / $cols);
    // height: ((100% - (($cols - 1) * $mgn)) / $cols);
    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}